:textile
  h2. Installing with @npm@
  
  If you want to use JS.Class with Node, there's an npm pacakge you can install:
  
  <pre>npm install jsclass</pre>
  
  After installing this package, you can load JS.Class into your program like
  this:
  
  <pre class="prettyprint">require('jsclass');
  
  // Then use JS.require() to load components
  JS.require('JS.Set', function() {
      var s = new JS.Set([1,2,3]);
      // ...
  });</pre>
