!white        = #fff
!dark_grey    = #333
!light_grey   = #eee
!red          = #d11f1f
!dark_red     = #961919
!blue         = #76a0d0
!font_size    = 13px
!line_height  = 1.5

!column_width = 170px
!gutter_width = 20px

body
  :background       = !white
  :color            = !dark_grey
  :margin           = 0 0 0 0
  :padding          = 0 0 0 0
  :font
    :size           = !font_size
    :family         Arial, Helvetica, sans-serif
  :line-height      = !line_height

.sub
  :margin           0 auto
  :width            = 4 * !column_width + 3 * !gutter_width

#header
  :background       url(header.gif) center top repeat-x
  :height           97px
  :padding          19px 0 0
  
  h1
    :background     url(title.gif) left top no-repeat
    :width          374px
    :margin         0
    
    a
      :display      block
      :height       0
      :padding      66px 0 0
      :overflow     hidden
    
    span
      :display      none

#footer
  :border-top       = 2px solid !dark_grey
  :background       = !dark_red
  :margin           2.0em 0 0
  
  p
    :color          = !white
    :margin         0 0
    :padding        = 1.0em 0

#content
  :float            right
  :width            = 3 * !column_width + 2 * !gutter_width

#sidebar
  :float            left
  :width            = !column_width
  
  h4
    :color          = !red
    :font
      :size         = !font_size
      :family       Trebuchet MS, Verdana, sans-serif
    :margin         1.0em 0
  
  ul, li
    :margin         0 0 1.5em 0
    :padding        0 0 0 0
    :list-style     none
  
  li
    :border-top     = 1px solid #ccc
    :margin-bottom  0
    
    a
      :display      block
      :padding      2px 4px
      :width        = !column_width - 8px
      :font-size    0.85em
      :text-decoration  none
      :color        = !dark_grey
    
    a:hover
      :background   = !light_grey

h3
  :border-top       = 2px solid !light_grey
  :color            = !red
  :font
    :size           = 2 * !font_size
    :family         Trebuchet MS, Verdana, sans-serif
    :weight         normal
  :margin           0.5em 0

p, ul
  :margin           1.0em 0

pre
  :font-size        = 0.85 * !font_size

a
  :color            = !blue
  :font-weight      bold
