/* line 1 */
body {
  background: white;
  border-top: 2em solid #f96648;
  color: #30303c;
  font: 300 16px/1.4 Open Sans, FreeSans, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 9 */
.nav {
  float: left;
  margin: 2em;
}
/* line 13 */
.nav h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

/* line 18 */
.content {
  margin: 2em 0 3em 20em;
  width: 40em;
}
/* line 22 */
.content h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin: 0;
}

/* line 27 */
ul {
  margin: 1em 0 0 2em;
  padding: 0;
  list-style: circle outside;
}

/* line 32 */
a {
  color: #f96648;
  text-decoration: none;
}

/* line 36 */
a:hover {
  text-decoration: underline;
}

/* line 39 */
pre, code {
  font-family: Anonymous Pro, Monaco, Lucida Console, Courier New, monospace;
}

/* line 42 */
pre {
  border-left: 1em solid #f0f0f0;
  padding-left: 2em;
}

/* line 46 */
.footer {
  border-top: 1px solid #d0d0d0;
  clear: both;
  margin: 2em 0 0 2em;
  padding: 1em 0 2em 18em;
  width: 40em;
}
