:textile
  h2. A JavaScript class library.

  @JS.Class@ is a portable, modular JavaScript class library, influenced by the
  "Ruby":http://ruby-lang.org/ programming language. It provides a rich set of
  tools for building object-oriented JavaScript programs, and is designed to run
  on a wide variety of "client- and server-side platforms":/platforms.html.

  In particular, to support the writing of equally portable JavaScript code, it
  provides a "package manager":/packages.html and "testing framework":http://jstest.jcoglan.com
  that run on all supported platforms.

  h3. Features

  The library provides many of Ruby's powerful features, including:

  * Ruby-like object system with classes, mixins, and singleton methods
  * Late-binding arguments-optional @super@ calls to parent classes and mixins
  * @included@, @extended@ and @inherited@ hooks
  * Context-preserving method binding
  * Reflection APIs for the object system
  * Conventions for object equality, comparison, iteration and hashing
  * Versions of various standard Ruby modules and data structures

