:textile
  h3. Patterns
  
  The @class.js@ file defines @JS.Class@, @JS.Interface@, @JS.Module@ and @JS.Singleton@; generic
  components to help you build code with. The other files in the download implements a number of
  commonly used design patterns and reusable components that provide pre-built solutions to common coding
  problems.
  
  The components and patterns provided by @JS.Class@ are listed in the sidebar. They all provide
  some concrete implementation for solving specific problems, which is what sets them apart
  from the @class.js@ components. The files contained in the download are as follows:
  
  * @command.js@ - defines @JS.Command@ and @JS.Command.Stack@
  * @comparable.js@ - defines @JS.Comparable@
  * @decorator.js@ - defines @JS.Decorator@
  * @enumerable.js@ - defines @JS.Enumerable@
  * @linked_list.js@ - defines @JS.LinkedList.DoublyCircular@
  * @method_chain.js@ - defines @JS.MethodChain@
  * @observable.js@ - defines @JS.Observable@
  * @proxy.js@ - defines @JS.Proxy.Virtual@