:textile
  h3. Patterns
  
  The @class.js@ file defines @JS.Class@, @JS.Interface@, @JS.Module@ and @JS.Singleton@; generic
  components to help you build code with. @patterns.js@ implements a number of commonly used
  design patterns and reusable components that provide pre-built solutions to common coding
  problems.
  
  The components and patterns provided by @JS.Class@ are listed in the sidebar. They all provide
  some concrete implementation for solving specific problems, which is what sets them apart
  from the @class.js@ components.