:textile
  h2. Supported platforms

  One of JS.Class's primary goals is to facilitate the creation of programs that
  work across a wide variety of JavaScript platforms. It does this by abstracting
  some platform-specific details such as "module loading":/packages.html, and by
  providing cross-platform "testing tools":/testing.html.

  JS.Class currently runs without modification or configuration in all the
  following environments:

  h3. Web browsers

  * "Internet Explorer":http://www.microsoft.com/windows/internet-explorer/default.aspx
  * "Firefox":http://www.getfirefox.com/
  * "Chrome":http://www.google.com/chrome
  * "Safari":http://www.apple.com/safari/
  * "Opera":http://www.opera.com/

  h3. Headless DOM environments

  * "PhantomJS":http://www.phantomjs.org/
  * "Harmony":http://github.com/mynyml/harmony

  h3. Server-side platforms

  * "Node.js":http://nodejs.org/
  * "Narwhal":http://narwhaljs.org/
  * "RingoJS":http://ringojs.org/

  h3. GUI frameworks

  * "Mozilla XULRunner":https://developer.mozilla.org/en/xulrunner
  * "Adobe AIR":http://www.adobe.com/products/air/

  h3. Shell environments

  * "V8 shell":http://code.google.com/p/v8/
  * "Mozilla Rhino":http://www.mozilla.org/rhino/
  * "Mozilla SpiderMonkey":http://www.mozilla.org/js/spidermonkey/
  * "Windows Script Host":http://msdn.microsoft.com/en-us/library/9bbdkx3k(VS.85).aspx

