:textile
  h2. Testing tools

  JS.Class includes a testing framework called @JS.Test@. You can use it to test
  any JavaScript code, not just programs written with JS.Class, and it's
  designed to run on a wide variety of platforms without configuration. In
  combination with "@JS.Packages@":/packages.html it makes it really easy to
  organise and run your test suite in a way that works cross-platform. It runs
  without modification on all of JS.Class's "supported platforms":/platforms.html.

  When running in the browser, @JS.Test@ will automatically notify "TestSwarm":http://www.testswarm.com/
  if you're using it, so you can easily use @JS.Test@ for your continuous
  integration setup.

  Also note that tests include the "@JS.Console@":/console.html module so you
  can use @puts()@ and other functions to emit output from your tests.

  * "Introductory tutorial":/testing/introduction.html
  * "Assertion methods":/testing/assertions.html
  * "Organisation using contexts":/testing/context.html
  * "Asynchronous tests":/testing/async.html
  * "Mocking and stubbing":/testing/mocking.html
  * "Stubbing out time":/testing/fakeclock.html
