!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %title JS.Class - Ruby-style JavaScript
    =stylesheets 'application', 'prettify'
    :plain
      <script type="text/javascript">JSCLASS_PATH = '/javascripts/js.class/';</script>
    =javascripts 'prettify', 'js.class/loader'
  %body{:onload => 'prettyPrint()'}
    #header
      .sub
        %h1
          =link 'JS.Class', '/'
          %span Ruby-style JavaScript
        #download
          %a{:href => '/assets/JS.Class.2-1-5.zip', :onclick => "trackDownload('2.1.5')"}
            Download v2.1
    .sub
      #content
        = yield
      #sidebar
        %h4 Core reference
        %ul
          %li
            =link 'Creating classes', '/classes.html'
          %li
            =link 'Using Modules', '/modules.html'
          %li
            =link 'Modifying classes/modules', '/modifyingmodules.html'
          %li
            =link 'Singleton methods', '/singletonmethods.html'
          %li
            =link 'Class methods', '/classmethods.html'
          %li
            =link 'Inheritance', '/inheritance.html'
          %li
            =link 'Method binding', '/binding.html'
          %li
            =link 'Metaprogramming hooks', '/hooks.html'
          %li
            =link 'Reflection'
          %li
            =link 'Debugging support', '/debugging.html'
          %li
            =link 'The Kernel module', '/kernel.html'
          %li
            =link 'Equality and hashing', '/equality.html'
          %li
            =link 'Interfaces'
          %li
            =link 'Singletons'
        %h4 Standard library
        %ul
          %li
            =link 'Package manager', '/packages.html'
          %li
            =link 'Testing tools', '/testing.html'
          %li
            =link 'Command'
          %li
            =link 'Comparable'
          %li
            =link 'ConstantScope'
          %li
            =link 'Decorator'
          %li
            =link 'Enumerable'
          %li
            =link 'Enumerator'
          %li
            =link 'Forwardable'
          %li
            =link 'Hash'
          %li
            =link 'LinkedList', '/linkedlist.html'
          %li
            =link 'MethodChain'
          %li
            =link 'Observable'
          %li
            =link 'Proxy', '/proxies.html'
          %li
            =link 'Range'
          %li
            =link 'Set, OrderedSet, SortedSet', '/set.html'
          %li
            =link 'StackTrace'
          %li
            =link 'State'
      %div{:style => 'clear: both;'}
    #footer
      .sub
        :textile
          @JS.Class@, &copy; 2007&ndash;2010 James Coglan. Released under the MIT license.
  %script{:type => 'text/javascript'}
    :plain
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  %script{:type => 'text/javascript'}
    :plain
      isLocal = !!( /localhost|192\.168/i.test(window.location.href) );
      if (!isLocal) {
        var pageTracker = _gat._getTracker("UA-873493-4");
        pageTracker._initData();
        pageTracker._trackPageview();
      }
      trackDownload = function(version) {
        if (!isLocal) pageTracker._trackPageview('/download/' + version + '/');
        return true;
      };
