!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %title JS.Class - Ruby-like classes for JavaScript
    =stylesheets 'application'
  %body
    #container
      #header
        %h1
          =link 'JS.Class', '/'
          %span Ruby-like classes for JavaScript
      #content
        = yield
      #sidebar
        %ul
          %li
            =link 'Inheritance and <tt>super</tt>', '/inheritance.html'
          %li
            =link 'Static/class methods', '/statics.html'
          %li
            =link 'Mixins', '/mixins.html'
          %li
            =link '<tt>include</tt> and <tt>extend</tt>', '/includeextend.html'
          %li
            =link 'Singleton methods', '/singletonmethods.html'
          %li
            =link 'Method binding', '/binding.html'
          %li
            =link 'Callbacks and hooks', '/hooks.html'
          %li
            =link 'Modules', '/modules.html'
          %li
            =link 'Type checking, the class tree', '/types.html'
          %li
            =link 'Interfaces', '/interfaces.html'
          %li
            =link 'Singletons', '/singletons.html'
      #footer
        :textile
          @JS.Class@, &copy; 2007--2008 James Coglan. Released under an MIT-style license.
    %script{:type => 'text/javascript'}
      :plain
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => 'text/javascript'}
      :plain
        if (!/^http:\/\/localhost[\:\/]/i.test(window.location.href)) {
          var pageTracker = _gat._getTracker("UA-873493-4");
          pageTracker._initData();
          pageTracker._trackPageview();
        }